<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/backstage.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{own/commes :: topbar}"></div>
    <div th:replace="~{own/commes :: sidebar}"></div>

    <div class="layui-body" style="padding-left: 20px">
        <!-- 内容主体区域 -->
        <div style="margin-top: 20px;margin-bottom: 30px">
            <button type="button" class="layui-btn layui-btn-normal">上传照片/视频</button>
            <button id="cr_albums" type="button" data-method="setTop" class="layui-btn layui-btn-normal addBu">创建相册</button>

       </div>

        <div class="albums">
            <div class="albums-1">
                <ul style="float: left">
                    <li th:each="ablbum,ablbumStat : ${session.albums}">
                        <div class="album">
                            <div class="album-top" style="position: relative">
                                <a th:href="@{'/album/queryAlbum?aid=' + ${ablbum.getAid()}}">
                                    <img src="../../static/images/2.jpg">
                                    <span style="bottom: 0px;right: 1px" th:text="${ablbum.getA_count}">1111</span>
                                </a>
                                <div class="album-edit" style="position: absolute;top: 2px;right: 3px">
                                    <div class="dropdown">
                                        <button class="dropbtn">菜单</button>
                                        <div class="dropdown-content">
                                            <a href="#"><button  type="button"  th:name="${ablbumStat.index}" th:value="${ablbumStat.index}" data-method="updateTop" class="layui-btn layui-btn-normal updateBu">编辑相册</button></a>
                                            <a href="#"><button  type="button" data-method="delTop" class="layui-btn layui-btn-normal delBu">删除相册</button></a>
                                            <span th:text="${ablbumStat.index}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="album-bottom">
                                <a href="#">
                                    <span th:text="${ablbum.getA_name()}">222</span>
                                </a>
                            </div>
                        </div>
                        <!--弹出框 修改-->
                        <div class="updateAlbumDiv" style="display: none;padding-top: 20px">
                            <form class="layui-form form2" action="">
                                <div class="layui-form-item" style="display: none">
                                    <label class="layui-form-label">相册id</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="aid" th:value="${ablbum.getAid()}" required readonly="readonly" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item" style="display: none">
                                    <label class="layui-form-label">相册使用用户id</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="uid" th:value="${ablbum.getUid()}" required readonly="readonly" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="a_name" th:value="${ablbum.getA_name()}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">权限</label>
                                    <div class="layui-input-block" th:if="${ablbum.getA_authority() eq 1}">
                                        <input type="radio" name="a_authority" value="1" title="私有" checked>
                                        <input type="radio" name="a_authority" value="2" title="公开">
                                        <input type="radio" name="a_authority" value="3" title="好友可见">
                                    </div>
                                    <div class="layui-input-block" th:if="${ablbum.getA_authority() eq 2}">
                                        <input type="radio" name="a_authority" value="1" title="私有">
                                        <input type="radio" name="a_authority" value="2" title="公开" checked>
                                        <input type="radio" name="a_authority" value="3" title="好友可见">
                                    </div>
                                    <div class="layui-input-block" th:if="${ablbum.getA_authority() eq 3}">
                                        <input type="radio" name="a_authority" value="1" title="私有" >
                                        <input type="radio" name="a_authority" value="2" title="公开">
                                        <input type="radio" name="a_authority" value="3" title="好友可见" checked>
                                    </div>

                                </div>

                                <div class="layui-form-item">
                                    <label class="layui-form-label">主题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="a_theme" th:value="${ablbum.getA_theme()}" required  lay-verify="required" placeholder="请输入主题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label">描述</label>
                                    <div class="layui-input-block">
                                        <textarea name="a_describe" th:text="${ablbum.getA_describe()}" placeholder="请输入内容（可选）" class="layui-textarea"></textarea>
                                    </div>
                                </div>


                                <div class="layui-form-item">
                                    <label class="layui-form-label">地点</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="location" th:value="${ablbum.getLocation()}" required  lay-verify="required" placeholder="请输入主题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>


                            </form>
                        </div>



                    </li>
                </ul>
             </div>
         </div>
    </div>


    <div th:replace="~{own/commes :: footbar}"></div>
</div>



<!--弹出框 添加-->
<div id="addAlbumDiv" style="display: none;padding-top: 20px">
    <form id="form1" class="layui-form" action="">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">所属用户id</label>
            <div class="layui-input-block">
                <input type="text" name="uid" th:value="${session.user.uid}" required readonly="readonly" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="a_name" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限</label>
            <div class="layui-input-block">
                <input type="radio" name="a_authority" value="1" title="私有">
                <input type="radio" name="a_authority" value="2" title="公开" checked>
                <input type="radio" name="a_authority" value="3" title="好友可见">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="a_describe" placeholder="请输入内容（可选）" class="layui-textarea"></textarea>
            </div>
        </div>

    </form>
</div>



<script src="../../static/layui/layui.js"></script>
<script src="../../static/js/jquery-3.3.1.js"></script>
<script>
    //JavaScript代码区域
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;
    });
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });

    //弹出层：创建相册
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
        //弹出层：创建相册
        //触发事件
        var active = {
            setTop: function(){
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 1 //此处以iframe举例
                    ,title: ['添加相册', 'font-size:18px;text-align:center;']
                    ,area: ['700px', '360px'] //宽高
                    ,shade: 0
                    ,content: $('#addAlbumDiv')
                    ,btn: ["确认", "取消"] //只是为了演示
                    ,yes: function(index, layero){
                        alert(JSON.stringify(getFormData($("#form1"))));
                        $.ajax({
                            type:"post",
                            dataType:"json",
                            url:"/album/addAlbum",
                            data: JSON.stringify(getFormData($("#form1"))),//表单数据
                            contentType:"application/json",
                            success:function(result){
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                window.location.reload()  //刷新页面
                            },
                            error:function () {
                                alert("返回值错误");
                                 window.location.reload()  //刷新页面
                            }
                        });

                        $(that).click();
                    }
                });
            }
            //编辑相册
            ,updateTop: function(){
                var that = this;
                //获取按钮的value值
                var i = $(this).val();
               // alert(i);
                layer.open({
                    type: 1 //此处以iframe举例
                    ,title: ['编辑相册', 'font-size:18px;text-align:center;']
                    ,area: ['700px', '360px'] //宽高
                    ,shade: 0
                    ,content: $('.updateAlbumDiv').eq(i)
                    ,btn: ["确认", "取消"] //只是为了演示
                    ,yes: function(index, layero){
                        alert(JSON.stringify(getFormData($(".form2").eq(i))));
                        $.ajax({
                            type:"post",
                            dataType:"json",
                            url:"/album/updateAlbum",
                            data: JSON.stringify(getFormData($(".form2").eq(i))),//表单数据
                            contentType:"application/json",
                            success:function(result){
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                window.location.reload()  //刷新页面
                            },
                            error:function () {
                                alert("返回值错误");
                                window.location.reload()  //刷新页面
                            }
                        });

                        $(that).click();
                    }
                });

            }//删除相册
            ,delTop: function(){



            }
        };

        $('.updateBu').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
           // var i = $(this).val();
        });

      /*  $('.layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });*/
        $('.addBu').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });


    });





    //将form表单数据转为JSON格式。
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }



</script>
</body>


</html>