<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../../static/css/layui.css">
    <link rel="stylesheet" href="../../static/css/backstage.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{own/commes :: topbar}"></div>
    <div th:replace="~{own/commes :: sidebar}"></div>

    <div class="layui-body" style="padding-left: 20px">
        <!-- 内容主体区域 -->
        <div style="margin-top: 20px;margin-bottom: 30px">
            <button type="button" class="layui-btn layui-btn-normal">上传照片/视频</button>
            <button type="button" class="layui-btn layui-btn-normal">创建相册</button>
        </div>

        <div class="albums">
            <div class="albums-1">
                <ul style="float: left">
                   <!--<li>
                    <div class="album">
                      <div class="album-top">
                        <a href="#">
                            <img src="../../static/images/2.jpg">
                            <span style="bottom: 0px;right: 1px">101张</span>
                        </a>

                      </div>
                      <div class="album-bottom">
                          <a href="#">
                              <span>啊啊啊啊</span>
                          </a>
                      </div>
                    </div>
                   </li>-->
                    <li th:each="ablbum : ${session.albums}">
                        <div class="album">
                            <div class="album-top">
                                <a href="#">
                                    <img src="../../static/images/2.jpg">
                                    <span style="bottom: 0px;right: 1px" th:text="${ablbum.getA_count}"></span>
                                </a>

                            </div>
                            <div class="album-bottom">
                                <a href="#">
                                    <span th:text="${ablbum.getA_describe()}"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
             </div>
         </div>


        <div>

        </div>
        <div>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../../static/js/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>