.cc_left{
    position: absolute;
    width: 75%;
    height: 100%;
    left: 0;
    background-color: #00FFFF;
    overflow:auto;
}


.cc_right{
    position: absolute;
    width: 25%;
    height: 100%;
    right: 0;
    background-color: #00FF00;
    overflow: hidden auto;
}
.cc_user_item{
    margin-left: 30px;
    position: relative;
    background-color: #8D4294;

}
.cc_user_item button{
    position: absolute;
    right: 10px;
    top: 2px;
    padding: 5px 10px;
    border: 2px solid seashell;
    background-color: #2D93CA;
}
.cc_infobox{
    margin-left: 30px;
    margin-top: 20px;
   /* background-color: #00FFFF;*/

}
.cc_comment__textarea textarea{
    display: block;
    padding: 10px 13px;
    width: 100%;
    background: #2B2B2B;
    border-radius: 4px;
    color: #fff;
    box-sizing: border-box;
}

.cc_div:after{
    content:"";
    display: block;
    clear: both;

}
.cc_comments{
    padding-bottom: 60px;
}