.banner-wrapper{
   position: relative;
    z-index: 3;
    width: 100%;
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/27.jpg");

}
.banner-info{
    position: absolute;
    z-index: 5;
    left: 40px;
    right: 40px;
    bottom: 40px;
    height: 135px;
   /* background-color: #2D93CA;*/
}
.user-headImage{
    height: 100px;
    width: 100px;
   /* display: inline-block;*/
    float: left;
}
.user-headImage img{
    object-fit: cover; /*不变形、铺满*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.userInfo{
    /*display: inline-block;*/
    float: left;
    margin-left: 20px;
}
.userInfo-bottom{
    height: 25px;
    width: 50px;
    background-color: #00FF00;
    border-radius: 5%;
    border: none;
    text-align: center;
}
.center-tab{
    width: 100%;
    height: 30px;
    background-color: lavender;
    position: relative;
    text-align: center;
}
.content{
    width: 1220px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.content-item{
   /* width: 386px;
    height: 546px;*/
    display: inline-block;
    position: relative;
    background-color: #92B8B1;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content-item a{
   position: relative;
    display: inline-block;
    width: 386px;
    height: 386px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}
.content-item a img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    object-fit:cover;

}