.admin{
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.admin_div1{
    width: 300px;
    height: 300px;
    background-color: #b2b2b2;
    position: relative;
    z-index: 1;
    overflow:hidden;
}
.admin_div1 img{
    /*图片居中全部显示*/
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
    max-width: 100%;
    max-height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;

    /*铺满屏幕*/
   /* width: 100%;
    height: 100%;
    object-fit:cover;*/
}
.nav{
    padding-left: 15px;
    margin-top: 15px;
}
.nav ul:after{
    content: "";
    display: block;
    clear: both;
}
.nav ul li{
    float: left;
    margin-right: 10px
}
.divAdmain{
    padding: 15px;
    margin-top: 10px;
}
.divAdmain ul:after{
    content: "";
    display: block;
    clear: both;
}

.bottom_page{
    position: fixed;
    bottom: 6px;
    margin: 0 auto;
    left: 30%;
    background-color: white;
    height: 45px;

}