<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>相册信息- Layui</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/backstage.css">
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/axios.js"></script>
    <!--<script src="//unpkg.com/vue/dist/vue.js"></script>-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/otherInfo.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .list-right{
            position: absolute;
            top: 2px;
            right: 3px;
            color: #c8e1fa;
            z-index: 1;
            cursor: pointer;
        }
        .list-right-div{
            display: none;
        }
        .list-right-div button{
            border: none;
            margin-bottom: 3px;
            background-color: #c8e1fa;
            border-radius: 3px;
            cursor: pointer;
        }
        .list-right:hover .list-right-div{
            display: block;
        }

    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{own/commes :: topbar}"></div>
    <div th:replace="~{own/commes :: sidebar}"></div>
    <input id="userID" th:value="${session.user.getUid()}" style="display: none"/>


    <div class="layui-body" style="padding-left: 20px">
        <div class="content">
            <!--搜索框-->
            <el-form :inline="true" class="demo-form-inline">
                <el-form-item>
                    <el-input v-model="albumName" placeholder="相册名称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">查询</el-button>
                    <el-button type="primary" @click="onReset">重置</el-button>
                </el-form-item>
            </el-form>

            <!-- 相册列表-->
            <div class="content-list">
                <!--单个相册div-->
                <div class="content-item" v-for="item of collectList" :key="item">
                  <!-- 右上角菜单-->
                    <div class="list-right">
                        <span style="float: right">菜单</span>
                        <br>
                        <div class="list-right-div">
                            <button  type="button" value="ww" @click="cancelAid(item.id,item.aid)">取消收藏</button>
                        </div>

                    </div>
                  <!--相册和跳转链接-->
                    <a :href="'/recomm/queryByAmID?aid='+item.aid" target="_blank" style="width: 290px;height: 290px">
                        <img :src="item.a_coverPath" style="height: 100%">
                    </a>

                    <!--相册信息-->
                    <div class="content-itemInfo">
                        <span>名称{{item.a_name}}</span>
                        <br>
                        <span>描述： {{item.a_describe}}  </span>
                    </div>

                </div>


            </div>
        </div>


        <div style="padding: 15px 0;text-align: center">
           <el-pagination
            @size-change="onSizeChange"
            @current-change="onCurrentChange"
            :current-page="pageNum"
            :page-sizes="pageSizes"
            :page-size="pageSize"
            layout="total,sizes,prev, pager, next"
            :total="count">
           </el-pagination>
        </div>


</div>

    <div th:replace="~{own/commes :: footbar}"></div>

</div>


<script src="../static/layui/layui.js"></script>
<script src="../static/js/jquery-3.3.1.js"></script>

<script>
    var userID= document.getElementById("userID").value;
    console.log("当前用户id是:"+userID);

    const pageSizes=[10,2,3];  //设置每页数量 数组

    var Main = {
        data() {
            return {
               pageSizes,
              collectList:[],
              queryParams: {

              },
              albumName:null,
              pageNum:1,
              pageSize:10,
              count:null
            }
        },
        mounted:function(){  //这方法相当于 页面初始化
            this.init();
        },
        methods:{
            init(){//拿到后台数据初始化
                var that = this;
                const params = {...this.queryParams};
                params.uid = userID;
                params.pageSize = this.pageSize;
                params.pageNum = this.pageNum;
                params.albumName = this.albumName;
                console.log("sdfsdf");
                console.log(params);
                axios.get("http://localhost:8770/album/pageCollect",{params:params})
                    .then(function (response) {
                        that.collectList = response.data.list;
                        that.count = response.data.total;
                        console.log(that.collectList);
                    },function (err) {
                        console.log("出错")
                    })

            },
            onSubmit(){  //查询
                this.pageSize = 10;
                this.pageNum = 1;
                this.init();
            },
            onReset(){   //重置
                this.pageSize = 10;
                this.pageNum = 1;
                this.albumName = null;
                this.init();
            },
            onSizeChange(pageSize){
                this.pageSize = pageSize
                this.init()
            },
            onCurrentChange(pageNum){
                this.pageNum = pageNum
                this.init()
            },
            cancelAid(v,v1){
                var that = this;
                this.$confirm('此操作将取消收藏, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get("http://localhost:8770/album/deleteCollect?id="+v+"&aid="+v1)
                        .then(function (response) {
                            that.pageNum = 1;
                            that.init()
                        },function (err) {
                            console.log("出错")
                        });
                    this.$message({
                        type: 'success',
                        message: '取消收藏!'
                    });
                })

            }
        }
    }

    var Ctor = Vue.extend(Main);
    new Ctor().$mount('.layui-body');
</script>

</body>
</html>