<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>其他人的相册界面</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/search/css/default.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/search-form.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/pgwslideshow.css">
    <link rel="stylesheet" href="../static/css/ablum.css">
    <link rel="stylesheet" href="../static/css/otherInfo.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/pgwslideshow.js"></script>
</head>
<body class="layui-layout-body" style="overflow: hidden auto">

<div class="layui-layout layui-layout-admin">

<!--    <div class="layui-header">
        <div class="layui-logo">layui 管理布局</div>
        &lt;!&ndash; 头部区域（可配合layui已有的水平导航） &ndash;&gt;
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>-->
    <div th:replace="~{own/commes :: topbar}"></div>
 <!--   <div th:replace="~{own/commes :: topbar}"></div>-->


</div>

<!--头部，个人信息等-->
<div class="banner-wrapper">

    <div class="banner-info">
         <div class="user-headImage">
            <img th:src="${session.otherUser.getProfile_photo()}!=null?'/'+${session.otherUser.getProfile_photo()}:'http://t.cn/RCzsdCq'">
         </div>
        <div class="userInfo">
            <div class="userInfo-name">
              <span th:text="${session.otherUser.getUsername()}"></span>
            </div>
            <div class="userInfo-mg">
                <span th:text="${session.otherUser.getAutograph()}" style="font-size: 12px"></span>
            </div>
            <div class="userInfo-bottom">关注</div>

        </div>


    </div>

</div>
<!--    导航栏-->
<div class="center-tab">
    <a href="#" style="color: #0C0C0C">作品</a>

</div>

<div class="content">
   <!-- 相册列表-->
    <div class="content-list">
        <!--单个相册div-->
        <div class="content-item" th:each="otherAlbum : ${session.otherAlbums}">
         <a th:href="@{/recomm/queryByAmID(aid=${otherAlbum.getAid()})}" target="_blank">
             <img th:src="${otherAlbum.getA_coverPath()}!=null ?${otherAlbum.getA_coverPath()}:'../static/images/27.jpg'" style="height: 100%">
         </a>

            <div class="content-itemInfo">
                <span th:text="${otherAlbum.getA_createTime()}">相册时间</span>
                <p th:text="${otherAlbum.getA_name()}">相册名称</p>
            </div>

        </div>


    </div>
</div>

</body>
</html>