<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>推荐相册界面</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/search/css/default.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/search-form.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/pgwslideshow.css">
    <link rel="stylesheet" href="../static/css/ablum.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/pgwslideshow.js"></script>



    <script src="../static/js/vue.js"></script>
    <script src="../static/js/axios.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/otherInfo.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div th:replace="~{own/commes :: topbar}"></div>
    <input id="userID" th:value="${session.user}!=null ?${session.user.getUid()}:'0'" style="display: none"/>

</div>


<div class="cc_div">
    <div class="cc_left">
       <div class="cc_leftTop">


        <ul class="pgwSlideshow">

            <li th:each="image,imageStat : ${session.currentImages}">
                <img th:src="${image.getI_path()}!=null ?'/' + ${image.getI_path()}:'http://t.cn/RCzsdCq'">
            </li>

            <li>
                <a href="http://en.wikipedia.org/wiki/Monaco" target="_blank">
                    <img src="../static/images/monaco.jpg" alt="Monaco">
                </a>
            </li>
        </ul>
       </div>

        <div class="cc_leftBM" style="width: 100%;height: 60px;/*background-color: hotpink*/
	filter: blur(20px);">

        </div>

    </div>

    <div class="cc_right">
        <!--头部，有相册所属用户的头像信息和名称信息-->
       <div class="cc_user_item">
           <span>
                   <a th:href="@{'/recomm/intoOtherView?otherUid='+${session.otherUser.getUid()}}" target="_blank">
                    <img th:src="${session.otherUser.getProfile_photo()}!=null ?'/' + ${session.otherUser.getProfile_photo()}:'http://t.cn/RCzsdCq'" class="layui-nav-img" style="object-fit: cover">
                    <span th:text="${session.otherUser.getUsername()}" style="color: white">姓名</span>
                       <p th:text="${session.otherUser.getAutograph()}" style="font-size: 13px;padding-left: 39px;color: white">个性签名</p>
                </a>
           </span>
           <button>关注</button>
       </div>
        <!--相册信息的描述-->
        <div class="cc_infobox">
            <input th:value="${session.currentAlbum.getAid()}" id="album-input" style="display: none"/>
           <!-- <span id="album_id" th:text="${session.currentAlbum.getAid()}">相册id</span>-->
            <p><span th:text="${session.currentAlbum.getA_name()}"></span></p>
            <p style="font-size: 13px;margin-top: 6px">描述:<span th:text="${session.currentAlbum.getA_describe()}" style="font-size: 13px"></span></p>
            <p style="margin-top: 20px;font-size: 12px">
                <span>创建日期：</span>
                <span th:text="${session.currentAlbum.getA_createTime()}">2020-01-12</span>
            <!--    <span>浏览人数:<span th:text="${session.currentAlbum.getA_views()}"></span></span>-->
                <span style="margin-left: 10px">主题:<span th:text="${session.currentAlbum.getA_theme()}!=null ?${session.currentAlbum.getA_theme()}:'无'"></span></span>
            </p>

            <div style="margin-top: 10px">
               <!--点赞  ==  盖章 -->
                <span style="cursor:pointer;" v-if="staticL" @click="cancelLikes()">
                    <i class="el-icon-s-check" style="color:crimson"></i>
                </span>
                <span style="cursor:pointer;" v-else @click="addLikes()">
                    <i class="el-icon-s-check"></i>
                </span>

                <span>点赞<i th:text="${session.currentAlbum.getA_likes()}"></i></span>


              <!--  收藏-->
                <span style="cursor:pointer;" v-if="static" @click="cancelCollect()">
                    <i class="el-icon-star-on" style="color:crimson;"></i>
                </span>
                <span style="cursor:pointer;" v-else @click="addCollect()">
                    <i class="el-icon-star-off"></i>
                </span>
                <span>收藏<i th:text="${session.currentAlbum.getA_stars()}"></i></span>
            </div>
        </div>
        <!--评论信息-->
        <div class="cc_comment" style="padding-left: 30px;margin-top: 30px;background-color: #242424">


            <h5>评论区</h5>

           <div class="cc_comment__textarea" style="margin-bottom: 20px">
               <textarea placeholder="提点意见，让TA有所进步" form="commentForms" name="comment" style="margin-top: 0px; margin-bottom: 0px; height: 79px;"></textarea>
              <div class="comment__textarea_form" style="overflow: hidden">
                  <form action="/recomm/comment" method="post" id="commentForms">
                      <input id="album_id" type="text" style="display: none" name="album_id" th:value="${session.currentAlbum.getAid()}">
                      <input id="comment_userID" type="text" style="display: none" name="userID" th:value="${session.user}!=null ?${session.user.getUid()}:''">
                      <input type="submit" value="评论" style="float: right">
                  </form>
              </div>


           </div>

            <!--评论列表-->
            <div class="cc_comments">
              <div class="cc_comment_list"  th:each="comment,commentStat : ${session.comments}"  style="margin-bottom: 20px">
                <div class="cc_comment_part">

                        <a style="position:absolute;">
                          <img class="layui-nav-img" th:src="${comment.getProfile_photo()}!=null ?'/' + ${comment.getProfile_photo()}:'http://t.cn/RCzsdCq'">
                        </a>
                        <div style="margin-left: 40px">

                            <span th:text="${comment.getUsername()}" style="color: #999;font-size: 12px"></span>
                            <div th:text="${comment.getC_content()}"></div>
                            <span th:text="${comment.getC_time()}" style="font-size: 10px;color: #999"></span>
                            <!--父评论id，即该楼层发起者的id-->
                            <p style="display: none" th:text="${comment.getC_id()}"></p>
                            <a href="javascript:;" class="reply_btn" style="color: #999;font-size: 12px">回复</a>
                        </div>
                    
                    <!--子评论-->
                    <div th:if="${not #strings.isEmpty(comment.getChild())}">
                        <div th:each="commentChild:${comment.getChild()}" style="margin-top: 10px;margin-left: 20px">
                            <a style="position:absolute;">
                                <img class="layui-nav-img" th:src="${commentChild.getProfile_photo()} !=null?'/' + ${commentChild.getProfile_photo()}:'http://t.cn/RCzsdCq'">
                            </a>
                            <div style="margin-left: 40px">

                                <span th:text="${commentChild.getUsername()}" style="color: #999;font-size: 12px"></span>
                                <span th:if="${not #strings.isEmpty(commentChild.getTargetName())}" th:text="'回复：'+${commentChild.getTargetName()}" style="font-size: 12px"></span>
                                <div th:text="${commentChild.getC_content()}"></div>
                                <span th:text="${commentChild.getC_time()}" style="font-size: 10px;color: #999"></span>
                                 <!--父评论id，即该楼层发起者的id-->
                                <p style="display: none" th:text="${comment.getC_id()}"></p>
                                <a href="javascript:;" class="reply_btn" style="color: #999;font-size: 12px">回复</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
           </div>
        </div>

    </div>

</div>


<script src="../static/layui/layui.js" charset="utf-8"></script>

<script>
    var aid = document.getElementById("album-input").value;
    console.log("当前aid是:"+aid);

    var userID= document.getElementById("userID").value;
    console.log("当前用户id是:"+userID);

    const  param = {};
    param.aid = aid;
    param.uid = userID;

    var Main = {
        data() {
            return {
                static:null,//状态 是否被该用户收藏   true收藏  false不收藏
                count:null,  //收藏数量
                collect:null,  //接收  收藏类的信息 即 id  aid uid

                staticL:null,//点赞 状态
                countL:null,//点赞 数量
                likes:null   //点赞类

            }
        },
        mounted:function () {
              this.init();
        },
        methods:{
            init(){
                var that = this;
                console.log("初始化开始判断该相册是否被收藏");
                axios.get("http://localhost:8770/album/ifCollent",{params:param})
                    .then(function (response) {
                        console.log("判断Collect：");
                        console.log(response.data);
                        that.collect = response.data;
                        if (response.data.id == null){
                            that.static=false;
                        }
                        else {
                            that.static=true;
                        }
                    },function (err) {
                        console.log("出错")
                    })

                console.log("初始化开始判断该相册是否被点赞");
                axios.get("http://localhost:8770/album/ifLikes",{params:param})
                    .then(function (response) {
                        console.log("判断Likes：");
                        that.likes = response.data;
                        console.log(that.likes);
                        if (response.data.id == null){
                            that.staticL=false;
                        }
                        else {
                            that.staticL=true;
                        }
                    },function (err) {
                        console.log("出错")
                    })

            },
            addCollect(){  //添加收藏
                var that = this;
                console.log("添加收藏");
                //先判断用户是否登录
                if (userID==0){
                    alert("请先登录")
                }
                else {
                    axios.get("http://localhost:8770/album/addCollect",{params:param})
                        .then(function (response) {
                            that.$message({
                                message: '恭喜你，收藏成功',
                                type: 'success'
                            });
                            location.reload();
                        },function (err) {
                            console.log("出错")
                        })
                }

            },
            cancelCollect(){ //取消收藏
                var that = this;
                console.log("取消收藏");
                axios.get("http://localhost:8770/album/deleteCollect?id="+this.collect.id+"&aid="+this.collect.aid)
                    .then(function (response) {
                        that.$message({
                            message: '取消收藏',
                            type: 'success'
                        });
                        location.reload();
                    },function (err) {
                        console.log("出错")
                    })
            },
            addLikes(){
                var that = this;
                console.log("添加点赞");
                //先判断用户是否登录
                if (userID==0){
                    alert("请先登录")
                }
                else {
                    axios.get("http://localhost:8770/album/addLikes",{params:param})
                        .then(function (response) {
                            that.$message({
                                message: '恭喜你，点赞成功',
                                type: 'success'
                            });
                            location.reload();
                        },function (err) {
                            console.log("出错")
                        })
                }
            },
            cancelLikes(){
                var that = this;
                console.log("取消点赞");
                axios.get("http://localhost:8770/album/deleteLikes?id="+this.likes.id+"&aid="+this.likes.aid)
                    .then(function (response) {
                        that.$message({
                            message: '取消点赞',
                            type: 'success'
                        });
                        location.reload();
                    },function (err) {
                        console.log("出错")
                    })
            }
        }


    }
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('.cc_right');

</script>


<!--插入回复框-->
<script type="text/javascript">
    $(function(){
        //页面加载完毕后开始执行的事件
        $(".reply_btn").click(function(){
            //获取相册的id
            var album_id = $("#album_id").val();
            //获取回复对象的名称,即兄弟节点的第一个元素的值
            var name =  $(this).siblings(":first").text();
            //获取父回复的id,即评论楼id
            var parent_id = $(this).siblings("p").text();
            //获取当前用户的id
            var userId = $("#comment_userID").val();

         /*   alert(name);*/
            //删除 存在的回复框
            $(".reply_textarea").remove();
            //插入div  回复框
            $(this).parent()
                .append("" +
                    "<div class='reply_textarea'>" +
                    "<textarea name='commentTex' form='commentForm' cols='40' rows='5'></textarea><br/>" +
                    "<form action='/recomm/replyComment' method='post' id='commentForm'>"+
                    "<input style='display: none' type='text' name='targetName' id='setValue1'>"+
                    "<input style='display: none' type='text' name='parent_id' id='setValue2'>"+
                    "<input style='display: none' type='text' name='album_id' id='setValue3'>"+
                    "<input style='display: none' type='text' name='userID' id='setValue4'>"+
                    "<input type='submit' value='评论' />" +
                    "<a onclick='delRow()'>取消</a>"+
                    "</div>");
           /* 设置添加的div中input的值*/
            $("#setValue1").val(name);   //传过去的参数名是  targetName
            $("#setValue2").val(parent_id);
            $("#setValue3").val(album_id);
            $("#setValue4").val(userId);
        });
    });
    /* 取消回复框 */
    function delRow() {
        $(".reply_textarea").remove();
    }
</script>


<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.pgwSlideshow').pgwSlideshow({
            transitionEffect:'fading',
        });

    });
</script>

</body>
</html>