<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">>
<head>
    <meta charset="UTF-8">
    <title>推荐的相册界面</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/search/css/default.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/search-form.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/pgwslideshow.css">
    <link rel="stylesheet" href="../static/css/ablum.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/pgwslideshow.js"></script>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 管理布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

</div>


<div>
    <div class="cc_left">
       <div class="cc_leftTop">


        <ul class="pgwSlideshow">
            <!--<li><img src="../static/images/san-francisco.jpg" alt="San Francisco, USA" data-description="Golden Gate Bridge"></li>
            <li><img src="../static/images/2.jpg" alt="Rio de Janeiro, Brazil"></li>
            <li><img src="../static/images/london.jpg" alt=""></li>
            <li><img src="../static/images/new-york.jpg" alt=""></li>
            <li><img src="../static/images/new-delhi.jpg" alt=""></li>
            <li><img src="../static/images/paris.jpg" alt=""></li>
            <li><img src="../static/images/sydney.jpg" alt=""></li>
            <li><img src="../static/images/tokyo.jpg" alt=""></li>
            <li><img src="../static/images/honk-kong.jpg" alt=""></li>
            <li><img src="../static/images/dakar.jpg" alt=""></li>
            <li><img src="../static/images/toronto.jpg" alt=""></li>-->

            <li th:each="image,imageStat : ${session.currentImages}">
                <img th:src="'/' + ${image.getI_path()}" alt="">
            </li>

            <li>
                <a href="http://en.wikipedia.org/wiki/Monaco" target="_blank">
                    <img src="../static/images/monaco.jpg" alt="Monaco">
                </a>
            </li>
        </ul>
       </div>

        <div class="cc_leftBM" style="width: 100%;height: 600px;background-color: hotpink">
12
        </div>

    </div>

    <div class="cc_right">
        <!--头部，有用户的头像信息和名称信息-->
       <div class="cc_user_item">
           <span>
                   <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span>信息</span>
                </a>
           </span>
           <button>关注</button>
       </div>

        <div class="cc_infobox">
            <p th:text="${session.currentAlbum.getA_name()}">相册名称</p>
            <p>相册描述：<span th:text="${session.currentAlbum.getA_describe()}"></span></p>
            <p style="margin-top: 20px;font-size: 12px">
                <span>创建日期：</span>
                <span th:text="${session.currentAlbum.getA_createTime()}">2020-01-12</span>
                <span>浏览人数:<span th:text="${session.currentAlbum.getA_views()}"></span></span>
                <span>主题:<span th:text="${session.currentAlbum.getA_theme()}"></span></span>
            </p>

            <div style="margin-top: 10px">
                <span>点赞数:32</span>
                <span>收藏数:300</span>
            </div>
        </div>

        <div class="cc_comment" style="margin-left: 30px;margin-top: 30px">
            评论区域
        </div>

    </div>

</div>


<script src="../static/layui/layui.js" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>



<script type="text/javascript">
    $(document).ready(function() {
        $('.pgwSlideshow').pgwSlideshow({
            transitionEffect:'fading',
        });

    });
</script>

</body>
</html>