<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>推荐相册界面</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/search/css/default.css">
    <link rel="stylesheet" type="text/css" href="../static/search/css/search-form.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <link rel="stylesheet" href="../static/css/pgwslideshow.css">
    <link rel="stylesheet" href="../static/css/ablum.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/pgwslideshow.js"></script>



    <script src="../static/js/vue.js"></script>
    <script src="../static/js/axios.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/otherInfo.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <!--<div class="layui-header">
        <div class="layui-logo">layui 管理布局</div>
        &lt;!&ndash; 头部区域（可配合layui已有的水平导航） &ndash;&gt;
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>-->
    <div th:replace="~{own/commes :: topbar}"></div>


</div>


<div class="cc_div">
    <div class="cc_left">
       <div class="cc_leftTop">


        <ul class="pgwSlideshow">
            <!--<li><img src="../static/images/san-francisco.jpg" alt="San Francisco, USA" data-description="Golden Gate Bridge"></li>
            <li><img src="../static/images/2.jpg" alt="Rio de Janeiro, Brazil"></li>
            <li><img src="../static/images/london.jpg" alt=""></li>
            <li><img src="../static/images/new-york.jpg" alt=""></li>
            <li><img src="../static/images/new-delhi.jpg" alt=""></li>
            <li><img src="../static/images/paris.jpg" alt=""></li>
            <li><img src="../static/images/sydney.jpg" alt=""></li>
            <li><img src="../static/images/tokyo.jpg" alt=""></li>
            <li><img src="../static/images/honk-kong.jpg" alt=""></li>
            <li><img src="../static/images/dakar.jpg" alt=""></li>
            <li><img src="../static/images/toronto.jpg" alt=""></li>-->

            <li th:each="image,imageStat : ${session.currentImages}">
                <img th:src="'/' + ${image.getI_path()}" alt="">
            </li>

            <li>
                <a href="http://en.wikipedia.org/wiki/Monaco" target="_blank">
                    <img src="../static/images/monaco.jpg" alt="Monaco">
                </a>
            </li>
        </ul>
       </div>

        <div class="cc_leftBM" style="width: 100%;height: 600px;background-color: hotpink">
12
        </div>

    </div>

    <div class="cc_right">
        <!--头部，有用户的头像信息和名称信息-->
       <div class="cc_user_item">
           <span>
                   <a th:href="@{'/recomm/intoOtherView?otherUid='+${session.otherUser.getUid()}}" target="_blank">
                    <img th:src="'/' + ${session.otherUser.getProfile_photo()}" class="layui-nav-img">
                    <span th:text="${session.otherUser.getUsername()}" >姓名</span>
                       <p th:text="${session.otherUser.getAutograph()}">个性签名</p>
                </a>
           </span>
           <button>关注</button>
       </div>
        <!--相册信息的描述-->
        <div class="cc_infobox">
            <input th:value="${session.currentAlbum.getAid()}" id="album-input" style="display: none"/>
           <!-- <span id="album_id" th:text="${session.currentAlbum.getAid()}">相册id</span>-->
            <p th:text="${session.currentAlbum.getA_name()}">相册名称</p>
            <p>相册描述：<span th:text="${session.currentAlbum.getA_describe()}"></span></p>
            <p style="margin-top: 20px;font-size: 12px">
                <span>创建日期：</span>
                <span th:text="${session.currentAlbum.getA_createTime()}">2020-01-12</span>
                <span>浏览人数:<span th:text="${session.currentAlbum.getA_views()}"></span></span>
                <span>主题:<span th:text="${session.currentAlbum.getA_theme()}"></span></span>
            </p>

            <div style="margin-top: 10px">
                <span>点赞数:32</span>
                <span v-if=""></span>
                <i class="el-icon-delete"></i>
                <span>收藏数:300</span>
            </div>
        </div>
        <!--评论信息-->
        <div class="cc_comment" style="margin-left: 30px;margin-top: 30px">


            <h5>评论区</h5>

           <div class="cc_comment__textarea" style="margin-bottom: 20px">
               <textarea placeholder="提点意见，让TA有所进步" form="commentForms" name="comment" style="margin-top: 0px; margin-bottom: 0px; height: 79px;"></textarea>
              <div class="comment__textarea_form" style="overflow: hidden">
                  <form action="/recomm/comment" method="post" id="commentForms">
                      <input type="text" style="display: none" name="album_id" th:value="${session.currentAlbum.getAid()}">
                      <input id="comment_userID" type="text" style="display: none" name="userID" th:value="${session.user}!=null ?${session.user.getUid()}:''">
                      <input type="submit" value="评论" style="float: right">
                  </form>
              </div>


           </div>

            <!--评论列表-->
            <div class="cc_comments">
              <div class="cc_comment_list"  th:each="comment,commentStat : ${session.comments}"  style="background-color: #92B8B1;margin-bottom: 20px">
                <div class="cc_comment_part">

                        <a style="position:absolute;">
                          <img class="layui-nav-img" th:src="'/' + ${comment.getProfile_photo()}">
                        </a>
                        <div style="margin-left: 40px">

                            <span th:text="${comment.getUsername()}"></span>
                            <div th:text="${comment.getC_content()}"></div>
                            <span th:text="${comment.getC_time()}" style="font-size: 10px"></span>
                            <!--父评论id，即该楼层发起者的id-->
                            <p style="display: none" th:text="${comment.getC_id()}"></p>
                            <a href="javascript:;" class="reply_btn" >回复</a>
                        </div>
                    
                    <!--子评论-->
                    <div th:if="${not #strings.isEmpty(comment.getChild())}">
                        <div th:each="commentChild:${comment.getChild()}" style="margin-top: 10px;margin-left: 20px">
                            <a style="position:absolute;">
                                <img class="layui-nav-img" th:src="'/' + ${commentChild.getProfile_photo()}">
                            </a>
                            <div style="margin-left: 40px">

                                <span th:text="${commentChild.getUsername()}"></span>
                                <span th:if="${not #strings.isEmpty(commentChild.getTargetName())}" th:text="'回复：'+${commentChild.getTargetName()}" style="font-size: 12px"></span>
                                <div th:text="${commentChild.getC_content()}"></div>
                                <span th:text="${commentChild.getC_time()}" style="font-size: 10px"></span>
                                 <!--父评论id，即该楼层发起者的id-->
                                <p style="display: none" th:text="${comment.getC_id()}"></p>
                                <a href="javascript:;" class="reply_btn" >回复</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
           </div>
        </div>

    </div>

</div>


<script src="../static/layui/layui.js" charset="utf-8"></script>

<script>
    var currentAid = document.getElementById("album-input").value;
    console.log("aid是:"+currentAid);

    var Main = {
        data() {
            return {
                currentAid:null,
                static:null,
                describe:null,
                aid:null
            }
        },
        mounted:function () {
              this.init();
        },
        methods:{
            init(){
                var that = this;
                console.log("初始化开始判断该相册是否被收藏")
              /*  axios.get("http://localhost:8770/album/pageCollect",{params:params})
                    .then(function (response) {
                        that.collectList = response.data.list;
                        that.count = response.data.total;
                        console.log(that.collectList);
                    },function (err) {
                        console.log("出错")
                    })*/

            },
            addCollect(){

            },
            cancelCollect(){

            }
        }


    }
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('.layui-layout-body');

</script>


<!--插入回复框-->
<script type="text/javascript">
    $(function(){
        //页面加载完毕后开始执行的事件
        $(".reply_btn").click(function(){
            //获取相册的id
            var album_id = $("#album_id").text();
            //获取回复对象的名称,即兄弟节点的第一个元素的值
            var name =  $(this).siblings(":first").text();
            //获取父回复的id,即评论楼id
            var parent_id = $(this).siblings("p").text();
            //获取当前用户的id
            var userId = $("#comment_userID").val();

            alert(name);
            $(".reply_textarea").remove();
            //插入div
            $(this).parent()
                .append("" +
                    "<div class='reply_textarea'>" +
                    "<textarea name='commentTex' form='commentForm' cols='40' rows='5'></textarea><br/>" +
                    "<form action='/recomm/replyComment' method='post' id='commentForm'>"+
                    "<input style='display: none' type='text' name='targetName' id='setValue1'>"+
                    "<input style='display: none' type='text' name='parent_id' id='setValue2'>"+
                    "<input style='display: none' type='text' name='album_id' id='setValue3'>"+
                    "<input style='display: none' type='text' name='userID' id='setValue4'>"+
                    "<input type='submit' value='评论' />" +
                    "<a onclick='delRow()'>取消</a>"+
                    "</div>");
           /* 设置添加的div中input的值*/
            $("#setValue1").val(name);   //传过去的参数名是  targetName
            $("#setValue2").val(parent_id);
            $("#setValue3").val(album_id);
            $("#setValue4").val(userId);
        });
    });
    /* 取消回复框 */
    function delRow() {
        $(".reply_textarea").remove();
    }
</script>


<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.pgwSlideshow').pgwSlideshow({
            transitionEffect:'fading',
        });

    });
</script>

</body>
</html>