<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--上面的是映射文件头-->
<mapper namespace="com.setup.mapper.AlbumMapper">

    <!--创建相册-->
    <insert id="insertAlbum" parameterType="com.setup.entity.Album">
        insert into album(uid,a_name,a_createTime,a_describe,a_authority,a_path)
        values (#{uid},#{a_name},#{a_createTime},#{a_describe},#{a_authority},#{a_path})
    </insert>
    <!--查找所有相册，状态为1的-->
    <select id="queryAlbum" resultType="com.setup.entity.Album">
        select * from album where a_status = 1 and uid = #{uid};
    </select>

    <!--删除相册，假删除  更新相册和其下图片的状态码-->
    <update id="deAlbum">
       UPDATE album a JOIN image i ON a.aid = i.aid
SET a.a_status = 0,i.`status`=0
WHERE a.aid = #{aid}
    </update>

    <!--彻底删除相册-->
    <delete id="delAlbum" parameterType="int">
        DELETE FROM album WHERE aid = #{aid}
    </delete>

    <!--重命名相册-->
    <update id="renameAlbum">
        update album set a_name = #{a_name} where aid = #{aid}
    </update>

    <!--更改相册信息-->
    <update id="updateAlbum">
        update album set a_name = #{a_name},a_describe = #{a_describe}
        ,a_authority = #{a_authority}
        ,a_theme = #{a_theme},location = #{location} where aid = #{aid}
    </update>
    <!--查找一个相册-->
   <!-- <select id="queryOneAlbum" resultType="com.setup.entity.Album">
        select * from album where aid = #{aid};
    </select>
-->

    <!--查看原相册的状态是否为1,根据图片的i_id-->
    <select id="queryOldAlbum" resultType="com.setup.entity.Album">
       select *from album where aid = (
SELECT aid FROM image WHERE i_id = #{i_id}
)
    </select>

    <!--还原相册状态为1-->
    <update id="updateStatus">
      update album set a_status= 1 where aid = #{aid}
    </update>

    <!--Vue  分页查询    名称用模糊查询，类型不用-->
    <select id="query" parameterType="com.setup.entity.AlbumQuery" resultType="com.setup.entity.Album">
        select *
        from album a
        <where>
            <if test="nameLike !=null and nameLike !='' ">
                and a.a_name like "%"#{nameLike}"%"
            </if>
            <if test="tagLike !=null and tagLike !='' ">
                and a.a_theme like #{tagLike}
            </if>
            and a.a_status = 1 and a.a_authority = 2
        </where>


    </select>

</mapper>