<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--上面的是映射文件头-->
<mapper namespace="com.setup.mapper.ImageMapper">
   <!--批量添加-->
   <insert id="insertImages" parameterType="java.util.List">
      insert  into image
      (aid,i_name,i_size,i_describe,i_contentType,i_time,i_uploadTime,i_beforePath,i_path,md5)
      values 
      <foreach collection="list" item="image" index="index" separator=",">
         (
         #{image.aid},
         #{image.i_name},
         #{image.i_size},
         #{image.i_describe},
         #{image.i_contentType},
         #{image.i_time},
         #{image.i_uploadTime},
         #{image.i_beforePath},
         #{image.i_path},
         #{image.md5}
         )
      </foreach>
   </insert>
    <!--单个添加-->
    <insert id="insertImage" parameterType="com.setup.entity.Image">
       insert into image
      (aid,i_name,i_size,i_time,i_uploadTime,i_path)
      values (#{aid},#{i_name},#{i_size},#{i_time},#{i_uploadTime},#{i_path})
    </insert>

   <!--查看该相册下的所有图片-->
  <select id="queryImageByAid" resultType="com.setup.entity.Image">
     SELECT *FROM image WHERE  status = 1 and aid = #{aid}
  </select>

    <!--查看所有回收站的图片-->
    <select id="queryReImage" resultType="com.setup.entity.Image">
     SELECT *
FROM image i INNER JOIN album a
ON i.status = 0 AND i.aid = a.aid AND a.uid = #{uid}
  </select>

    <!--查看该用户回收站将要彻底删除的图片的地址信息-->
    <select id="queryAddress" resultType="java.lang.String">
        SELECT i_path FROM image WHERE i_id IN
        <foreach collection="array"  item="value" index="index" open="(" separator="," close=")">
          #{value}
        </foreach>
    </select>


<!--   更新图片原信息,即图片名称和描述-->
  <update id="updateImage">
     UPDATE image SET i_name = #{name},i_describe = #{describe}
     WHERE i_id = #{i_id}
  </update>

<!--   回收图片，没有删除，只是放到了回收站（假的，不做这一步），只改变了状态码-->
  <update id="recoveryImage">
       UPDATE image SET `status` = 0 WHERE i_id = #{i_id}
  </update>
<!--批量回收-->
  <update id="recoveryImages">
      <foreach collection="array" open="" close=" " separator=";" item="value">
          UPDATE image SET `status` = 0 WHERE i_id = #{value}
      </foreach>
  </update>


<!--   从回收站还原图片,即更改状态码为 1-->
  <update id="updateRecovery">
          UPDATE image SET `status` = 1 WHERE i_id = #{i_id}

  </update>
    <!--批量还原-->
    <update id="updateRecoverys">
        <foreach collection="array" open="" close=" " separator=";" item="value">
         UPDATE image SET `status` = 1 WHERE i_id = #{value}
        </foreach>
    </update>


   <!--   彻底删除图片，即删除状态码为0的-->
   <delete id="delImage">
       DELETE FROM image WHERE status = 0 AND i_id = #{i_id}
  </delete>
    <!--   批量彻底删除图片，即删除状态码为0的-->
    <delete id="delImages">
        <foreach collection="array" open="" close=" " separator=";" item="value">
            DELETE FROM image WHERE status = 0 AND i_id = #{value}
        </foreach>
  </delete>

</mapper>