<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--上面的是映射文件头-->
<mapper namespace="com.setup.mapper.UserMapper">
    <select id="queryUserList" resultType="com.setup.entity.User">
       select * from user;
    </select>

    <select id="queryOne" resultType="com.setup.entity.User">
       SELECT * FROM `user`
      WHERE phone= #{phone} AND `password` = #{password}
    </select>

    <insert id="insertOne" parameterType="com.setup.entity.User">
     /* MD5加密 insert into user(username,password,phone) values ('伟大',MD5('abc123'),'15126547')*/
      insert into user(username,password,phone) values (#{username},#{password},#{phone})
    </insert>

    <!--更新用户，但不更新用户名,电话和密码,头像-->
    <update id="updateUser" parameterType="com.setup.entity.User">
       UPDATE `user` SET email=#{email},birthday=#{birthday},
       sex=#{sex},address=#{address},autograph=#{autograph}
       where phone = #{phone}
    </update>

    <!--查看该电话是否已经被注册-->
    <select id="queryPhone" resultType="java.lang.Integer">
       SELECT uid FROM `user`
       WHERE phone = #{phone}
    </select>

    <!--查看该用户名是否可用-->
    <select id="queryUserName" resultType="java.lang.Integer">
       SELECT uid FROM `user`
       WHERE username = #{username}
    </select>


</mapper>